            <div class="tournament">
                <table>
                    <thead>
                        <tr>
                            <td>Место</td>
                            <td>Участник</td>
                            <td>Очки</td>
                            <td>Количество игр</td>
                            <td>Победы</td>
                            <td>Поражения</td>
                            <td>Разница выигранных/проигранных партий</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ps_name, ps_data in tournament_table %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ ps_name }}</td>
                                <td>{{ ps_data.points }}</td>
                                <td>{{ ps_data.count }}</td>
                                <td>{{ ps_data.win_count }}</td>
                                <td>{{ ps_data.lose }}</td>
                                <td>{{ ps_data.sub_win_lose }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
