{% extends 'index-base.html' %}
{% load staticfiles %}

{% block title %}
    Авторизация
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'tournament/css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <form method="POST" class="form-signin">
        {% csrf_token %}
        <h2 class="form-signin-heading">Авторизация</h2>
        <input type="text" required placeholder="Имя пользователя" class="form-control" name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}">
        <input type="password" required placeholder="Пароль" class="form-control" name="{{ form.password.name }}" value="{{ form.password.value|default_if_none:'' }}">
        <button type="submit" class="btn btn-lg btn-primary btn-block">OK</button>
        {% if state %}
            {{ state }}
        {% endif %}
    </form>
{% endblock %}
