{% extends 'index-base.html' %}
{% load staticfiles %}

{% block title %}
    Создание турнира
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/lib/jquery/js.cookie.js' %}"></script>
    <script src="{% static 'tournament/js/manage_tournaments.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="col-md-8">
        <form>
            <h1>Создание турнира</h1>
            <div class="form-group">
                <input type="text" class="form-control" id="input-tournament" placeholder="Название турнира" required>
            </div>
            <div class="form-group">
                <label for="tournament-style">Выберите формат турнира</label>
                <div class="radio">
                  <label>
                    <input type="radio" name="tournament-styles" id="options-radios1" value="1" data-name="Круговой турнир" checked>
                    Круговой турнир
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="tournament-styles" id="options-radios2" value="2" data-name="Олимпийская система (только плей-офф)">
                    Олимпийская система (только плей-офф)
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="tournament-styles" id="options-radios3" value="3" data-name="Круговой + плей-офф">
                    Круговой + плей-офф
                  </label>
                </div>
                <div class="checkbox col-md-offset-1" style="display:none">
                    <label>
                        <input type="checkbox" id="is-subgroups" disabled>Разделить на подгруппы
                    </label>
                </div>
            </div>
            <div class="form-group">
                {% if participants %}
                    <label for="tournament-participants">Выберите участников или команды</label>
                    <span id="participants-count">Выбрано: <span id="participants-count__value">0</span></span>
                    <select id="participants-select" class="form-control" size="5" multiple>
                        {% for participant in participants %}
                            <option value="{{ participant.id }}">{{ participant.name }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
                <label for="tournament-participants">Для создания новых введите через запятую имена участников или названия команд</label>
                <textarea class="form-control" id="text-tournament-participants" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary save-data">ГОТОВО</button>
                <img class="load-animate" src="{% static 'img/load.gif' %}" hidden>
                <button type="reset" class="btn btn-default">Отмена</button>
            </div>
        </form>
    </div>
{% endblock %}
