{% extends 'index-base.html' %}
{% load staticfiles %}

{% block title %}
    {{ tournament.name }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'js/lib/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/lib/jquery/js.cookie.js' %}"></script>
    <script src="{% static 'js/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'tournament/js/manage_tournaments.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="col-md-8">
        <div class="tournament-title tournament-data" data-tournament-name="{{ tournament.get_style_display }}">
            <strong>Турнир: {{ tournament.name }}<br>Тип: {{ tournament.get_style_display }}</strong>
        </div>
        {% if tournament.get_style_display != tournament.PLAYOFF %}
            <div class="tournament-title">
                <strong>Турнирная таблица</strong>
            </div>
            {% include 'tournament/inc_tournament_points.html' %}
        {% endif %}
        <div class="tournament-title">
            <strong>Расписание матчей</strong>
        </div>
        {% if tournament.get_style_display == tournament.ROUND_ROBIN %}
            {% include 'tournament/inc_schedule.html' with is_playoff=False is_round=True %}
        {% elif tournament.get_style_display == tournament.PLAYOFF %}
        {% include 'tournament/inc_schedule.html' with is_playoff=True matches=matches_playoff %}
        {% elif tournament.get_style_display == tournament.ROUND_PLAYOFF %}
            {% include 'tournament/inc_schedule.html' with is_playoff=False is_group=matches.0.group is_round=True %}
            {% if matches_playoff %}
                <div class="tournament-title">
                    <strong>Плей-офф</strong>
                </div>
            {% endif %}
            {% include 'tournament/inc_schedule.html' with is_playoff=True matches=matches_playoff %}
        {% endif %}
        {% if matches or matches_playoff %}
            {% if request.user.is_superuser %}
                <button id="save-matches" class="btn btn-primary save-data">Сохранить</button>
                <img class="load-animate" src="{% static 'img/load.gif' %}" hidden>
            {% endif %}
        {% endif %}
        <div class="winner">
            {% if winner %}
                Поздравляем <b>{{ winner }}</b> с победой!
            {% endif %}
        </div>
    </div>
{% endblock %}
