        <div class="col-md-4">
            <div class="username {% if request.user.is_superuser %} superuser {% endif %}">
                {% if request.user.is_superuser %}
                    Привет, {{ request.user.username }}! <a href="{% url 'tournament:logout' next_page=request.path %}">выйти</a>
                {% else %}
                    Вы не авторизованы. <a href="{% url 'tournament:login' %}">Войти?</a>
                {% endif %}
            </div>
        </div>
